.footer {
    background-color: $color-footer-bg;
    color: $color-white;
    padding: 20px;
    &__title {
        margin-bottom: 20px;
    }
    &__elements {
         display: grid;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         gap: $gap-footer;
        @include md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include lg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__prop {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: $gap-grid;
    }
    &__part {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: $gap-flex;
    }
}
