.header {
    &__logo {
       padding: 20px;
       @include md {
            margin: 25px 25px;
         }
       @include lg {
            margin: 45px 45px;
        }
    }
}

.logo {
    height: 50px;
    display: block;
    margin: 0 auto;
}
<<<<<<< HEAD






// .header {
//     background: $colour-primary;
//     height: 10rem;
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     width: 100%;   
//     &__logo {
//         font-size: 7rem;
//         color: $colour-secondary;
//         margin-left: 10rem;
//         @include heading-shadow($colour-white);
//     }
// }


//mobile 


//tablette 


//desktop 
=======
>>>>>>> 8dfc02c (?)
