.ol-head__item:hover .overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block; }

.fa-heart {
  color: #FFF;
  border-radius: 50%;
  padding: .2em;
  color: grey;
  font-size: larger; }

.fa-heart::before {
  content: "\f004";
  transition: all 700ms 10ms ease-in-out;
  font: var(--fa-font-regular); }

.fa-heart:hover::before {
  color: #9356DC;
  cursor: pointer;
  font: var(--fa-font-solid); }

.footer-icons {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px; }

.footer-icons h5 {
  margin: 0; }

@keyframes list-item {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes slide-up {
  0% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0px); } }
*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0; }

.bold {
  font-weight: bold; }

a,
a:visited,
a:active {
  text-decoration: none; }

h1 {
  font-size: clamp(1.3rem, 2.5vw, 3rem); }

h2 {
  font-size: clamp(1rem, 2vw, 2rem); }

h3 {
  font-size: clamp(0.9rem, 1.5vw, 1.3rem); }

h4 {
  font-size: clamp(0.8rem, 1.3vw, 1.1rem); }

h5 {
  font-size: clamp(0.8rem, 1vw, 1.1rem); }

p {
  font-size: clamp(0.8rem, 1.5vw, 1.1rem); }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-style: normal; }

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-style: normal; }

.header__box {
  padding: 1.25rem; }
  .header__box__logo {
    display: block;
    margin-inline: auto;
    height: 2.1875rem; }
    @media (min-width: 38.125em) {
      .header__box__logo {
        height: 2.5rem; } }
    @media (min-width: 56.25em) {
      .header__box__logo {
        height: 3.125rem; } }

.header-menu__box {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 10px 1fr;
  align-items: center; }
  @media (min-width: 38.125em) {
    .header-menu__box {
      height: 0.9375rem;
      margin-bottom: 1.875rem; } }
  @media (min-width: 56.25em) {
    .header-menu__box {
      height: 1.5625rem;
      margin-bottom: 2.5rem; } }
  .header-menu__box__logo {
    display: block;
    margin-inline: auto;
    height: 2.1875rem; }
    @media (min-width: 38.125em) {
      .header-menu__box__logo {
        height: 2.5rem; } }
    @media (min-width: 56.25em) {
      .header-menu__box__logo {
        height: 3.125rem; } }

.footer {
  background-color: #161616;
  color: #fff;
  padding: 1.25rem; }
  .footer__title {
    margin-bottom: 1.25rem; }
  @media (min-width: 38.125em) {
    .footer__elements {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  .footer__prop {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.3125rem; }
  .footer__part {
    display: flex;
    justify-content: flex-start;
    align-items: baseline; }

.adjust-margins {
  margin: 0.3125rem 0.3125rem; }

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7E9E9;
  gap: 20px;
  border-top: 1px solid #E7E9E9; }
  @media (min-width: 38.125em) {
    .map {
      font-size: 17px; } }
  @media (min-width: 56.25em) {
    .map {
      font-size: 25px; } }

.main-desc {
  padding: 1.5625rem;
  text-align: center;
  background-color: #F4F6F7; }
  @media (min-width: 38.125em) {
    .main-desc {
      font-size: 17px; } }
  @media (min-width: 56.25em) {
    .main-desc {
      font-size: 25px; } }
  .main-desc__title {
    margin: 0.625rem; }
  .main-desc__para {
    font-weight: lighter;
    font-family: 'roboto' , 'sans-serif'; }
  .main-desc__btn {
    display: inline-block;
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
    border-radius: 3.125rem;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #fff;
    box-shadow: 0.625rem 0.625rem 0.625rem #E7E9E9;
    padding: 0.875rem 1.5625rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-family: 'roboto' , 'sans-serif';
    font-size: 1.125rem; }
    @media (min-width: 38.125em) {
      .main-desc__btn {
        width: 13.125rem;
        height: 1.875rem;
        line-height: 1.875rem;
        font-size: 1.1875rem; } }
    @media (min-width: 56.25em) {
      .main-desc__btn {
        width: 15.625rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.375rem; } }

.choose__title {
  margin: 3.125rem 1.875rem auto; }
  @media (min-width: 38.125em) {
    .choose__title {
      text-align: center; } }
  @media (min-width: 56.25em) {
    .choose__title {
      text-align: center; } }
.choose__list {
  counter-reset: item;
  list-style-type: none;
  padding: 0 1.875rem; }
  .choose__list__item {
    display: block;
    counter-increment: item;
    margin-bottom: 1.25rem;
    border-radius: 0.9375rem;
    background: #F0F3F4;
    color: #000;
    box-shadow: 0.625rem 0.625rem 0.625rem #E7E9E9;
    padding: 0.625rem 0;
    cursor: pointer; }
    .choose__list__item:hover {
      background-color: #ffdff6; }
      .choose__list__item:hover .list-icon {
        color: #9356DC;
        transform: scale(1.4); }
    .choose__list__item:before {
      margin-right: 1.25rem;
      margin-left: -0.625rem;
      content: counter(item);
      background: #9356DC;
      border-radius: 100%;
      color: #fff;
      width: 1.3em;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
    .choose__list__item__title {
      display: inline-block;
      margin-left: 1.25rem; }

.list-icon {
  display: inline-block; }

.restaurant {
  background-color: #F4F6F7;
  padding: 30px; }
  @media (min-width: 38.125em) {
    .restaurant {
      text-align: center; } }
  @media (min-width: 56.25em) {
    .restaurant {
      text-align: center; } }
  @media (min-width: 38.125em) {
    .restaurant__menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px; } }
  @media (min-width: 56.25em) {
    .restaurant__menu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px; } }

.card {
  width: 100%;
  margin: 1.5625rem 0;
  position: relative; }
  .card__badge {
    position: absolute;
    display: inline-block;
    top: 0.9375rem;
    right: 1.25rem;
    height: 0.9375rem;
    width: 4.6875rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.625rem;
    background-color: #8decde;
    color: rgba(7, 59, 49, 0.539);
    font-weight: 300;
    border-radius: 0.3125rem; }
  .card__view {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 16.875rem; }
  .card__info {
    background-color: #fff;
    border-radius: 0 0 1.5625rem 1.5625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    margin-bottom: 1.5625rem; }
    .card__info__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      padding: 0; }
      .card__info__title > h3 {
        margin: 0.3125rem 0; }
      .card__info__title > p {
        margin-top: 0;
        margin-bottom: 1.25rem; }

.h4-cards {
  margin: 1.25rem 0 0 0.3125rem;
  padding: 0rem 0.3125rem; }

.p-cards {
  margin: 0 0.3125rem 1.25rem 0.3125rem;
  padding: 0 0.3125rem; }

.euro-cards {
  margin-right: 0.5rem;
  padding: 0.4375rem 0.3125rem;
  display: flex; }

.cmd-btn {
  text-align: center; }

.normalflow {
  text-overflow: clip;
  white-space: nowrap;
  display: inline-block; }

.ol-head__item__container__box {
  transition: all 630ms ease-in-out 100ms;
  transform-origin: right;
  overflow: hidden;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 70%;
  text-align: center;
  display: inline-block;
  align-self: stretch; }
  .ol-head__item__container__box .fa-circle-check {
    display: inline-block;
    transform: rotate(-1turn);
    transition: all 280ms ease-out 500ms;
    color: white;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: x-large;
    position: relative;
    top: 25px; }

.resto {
  background-color: #F4F6F7; }
  .resto__bg__frame--image {
    object-fit: cover;
    width: 100%;
    max-height: 21.875rem; }

.course {
  position: relative;
  bottom: 3.125rem;
  background-color: #F4F6F7;
  border-radius: 2.5rem 2.5rem 0 0; }
  .course__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.875rem; }
    .course__title > h1 {
      font-style: italic; }

.main-courses {
  padding: 0 0.9375rem; }

.underlined {
  margin-bottom: 0.625rem; }
  .underlined ::after {
    position: absolute;
    height: 0.3125rem;
    width: 6%;
    left: 1rem;
    bottom: -rem(5);
    background: #99E2D0;
    display: block;
    margin-bottom: 50px;
    content: ""; }

.ol-head {
  padding: 0;
  margin-bottom: 3.125rem; }
  .ol-head__item {
    animation: list-item 300ms ease-in-out both 1, slide-up 500ms linear 1;
    counter-reset: item;
    list-style-type: none;
    padding: 0 1.875rem; }
    .ol-head__item--1 {
      animation-delay: 200ms; }
    .ol-head__item--2 {
      animation-delay: 400ms; }
    .ol-head__item--3 {
      animation-delay: 600ms; }
    .ol-head__item:hover .ol-head__item__container__box {
      display: inline-block;
      width: 3.75rem; }
      .ol-head__item:hover .ol-head__item__container__box .fa-circle-check {
        transform: rotate(360deg); }
    .ol-head__item__container {
      border-radius: 1.25rem;
      background-color: #fff;
      box-shadow: 0.625rem 0.625rem 0.625rem #E7E9E9;
      display: grid;
      grid-template-columns: 1fr auto auto;
      align-items: last baseline;
      margin-top: 0.625rem;
      padding: 0;
      cursor: pointer; }
      .ol-head__item__container__elements > p {
        width: 150px; }
        @media (min-width: 38.125em) {
          .ol-head__item__container__elements > p {
            width: 300px; } }
      .ol-head__item__container__box {
        width: 0; }

/*# sourceMappingURL=style.css.map */
