.map {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F3F4;
    gap: $gap-map;
    padding: 20px 0;
    border-top: 1px solid $color-map-bg;
     @include md {
         font-size: $font-mobile;
     }
     @include lg {
         font-size: $font-desktop;
     }
}

.main-desc {
    padding: 45px ;
    text-align: center;
    background-color: $color-card-bg;
     @include md {
         font-size: $font-mobile;
     }
     @include lg {
         font-size: $font-desktop;
     }
    &__btn {
        @include btn
    }
}

.choose {
    &__title {
        margin: 30px;
        @include md {
            text-align: center;
        }
        @include lg {
            text-align: center;
        }
    }
    &__info {
        @include md {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        @include lg {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        &__order {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            gap: 20px;
            margin: 30px;
            @include btn-grey;
            &:hover {
                background-color: lighten($color: $color-secondary, $amount: 20%);  
            }           
        }
   
    }
}
.ico {
    display: inline-block;
    color: $color-primary;
}

.restaurant {
    background-color: $color-card-bg;
    padding: 30px;
    @include md {
        text-align: center;
    }
    @include lg {
        text-align: center;
    }
    &__menu {
        @include md {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: $gap-grid;
        }
        @include lg {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
            gap: $gap-grid; 
        }
    }

}
.card {
    width: 100%;
    margin: 25px 0;
    &__view {
        border-radius: 20px 20px 0 0;
        object-fit: fill;
        width: 100%;
        height: 210px;
    }
    &__info {
        background-color: $color-white;
        border-radius: 0 0 25px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 25px;
        &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 25px 0;
        }
    }
}

